<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ (title ?? site:name) | sanitize }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}

        <!-- Link your custom standalone CSS file -->
        <link rel="stylesheet" href="./css/custom.css">
    </head>
    <body class="bg-black">
        
            {{ template_content }}

        <!-- Link your custom standalone JS file -->
        <script src="./js/custom.js"></script>

        {{ recaptcha }}
    </body>
</html>
 